/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// webfont import
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Noto+Sans+JP:400,500,700&display=swap");

body{
	font-family: "Fira Sans", "Noto Sans JP", sans-serif;
}

// user custom

html, body{
	height: 100%;
}

$brand_color: #ad3b97;
$black: #666;

a{
	color: $black;
	text-decoration: underline;
	transition: all .3s ease 0s;
	&:hover{
		color: $brand_color;
	}
}

.pagetop{
	span{
		display: block;
    width: 24px;
    height: 24px;
		position: fixed;
		bottom: 15px;
		right: 15px;
		cursor: pointer;
		z-index: 50;
		background: $black;
		display: block;
		border-radius: 50%;
		transition: all .3s ease 0s;
		svg{
			width: 10px;
			height: 10px;
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			transform: translate(-50%, -50%);
			path{
				fill: #fff;
			}
		}
		&:hover{
			background: $brand_color;
			svg{
				path{
					fill: #fff;
				}
			}
		}
	}
	&:hover{
		opacity: .8;
	}
}

.wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: none;
	transition: background .3s ease 0s;
	color: $black;
	position: absolute;
	top: 0;
	left: 0;
	&.dark{
		background: $black;
	}
}

.overlay{
	background: rgba(0, 0, 0, .4);
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	&.show{
		display: block;
	}
	.sk-folding-cube {
		margin: 20px auto;
		width: 40px;
		height: 40px;
		position: relative;
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -20px 0 0 -20px;
		.sk-cube {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
				animation: sk-foldCubeAngle 2.4s infinite linear both;
				-webkit-transform-origin: 100% 100%;
				transform-origin: 100% 100%;
			}
		}
		.sk-cube2 {
      -webkit-transform: scale(1.1) rotateZ(90deg);
      transform: scale(1.1) rotateZ(90deg);
			&::before{
			-webkit-animation-delay: 0.3s;
      animation-delay: 0.3s				
			}
		}
		.sk-cube3 {
      -webkit-transform: scale(1.1) rotateZ(180deg);
      transform: scale(1.1) rotateZ(180deg);
			&::before{
				-webkit-animation-delay: 0.6s;
	      animation-delay: 0.6s;
			}
		}
		.sk-cube4 {
			-webkit-transform: scale(1.1) rotateZ(270deg);
			transform: scale(1.1) rotateZ(270deg);
			&::before{
				-webkit-animation-delay: 0.9s;
				animation-delay: 0.9s;				
			}
		}
	}
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }


header{
	width: 100%;
	height: 120px;
	overflow: hidden;
	.logo{
		margin: 15px;
		img{
			width: 96px;
			height: 86px;
		}
	}

	.sp_bar{
		display: none;
	}
}

.contents_wrapper{
	width: 100%;
	height: calc(100% - 120px - 40px);
	position: relative;
	box-sizing: border-box;
}

.contents{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	.inline{
		width: 80vw;
		max-width: 1024px;
		height: 100%;
		margin: auto;
	}
}

.pager{
	ul{
		position: fixed;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		&>li{
			height: 20px;
			font-size: 12px;
			text-align: right;
			position: relative;
			a{
		    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.7);
				text-decoration: none;
				color: $black;
				display: inline-block;
				padding: 0;
				vertical-align: middle;
				&::after{
					content: "";
					display: inline-block;
					vertical-align: middle;
					$pager_circle_size: 9px;
					width: $pager_circle_size;
					height: $pager_circle_size;
					border-radius: 50%;
					border: 1px solid $black;
					position: relative;
				}
				span{
					position: relative;
					display: inline-block;
					margin: 0 10px 0 0;
					&::before{
						content: "";
						display: block;
						width: 0;
						height: 0;
						border-bottom: 1px solid $black;
						transition: all .3s ease 0s;
						position: absolute;
						bottom: 0;
						left: 0;
					}					
				}
			}
			&:hover{
				a{
					span{
						&::before{
							width: 100%;
						}
					}
				}
			}
			&.active{
				a{
					color: $brand_color;
					&::after{
						background: $brand_color;
						border-color: $brand_color;
					}
					span{
						&::before{
						border-color: $brand_color !important;
						}
					}					
				}
			}
		}
	}
}

footer{
	width: 100%;
	height: 40px;
	small{
		font-size: 10px;
		text-align: center;
		display: block;
		margin: 15px 0;
	}
}

.animate{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.page_title{
	font-size: 50px;
  line-height: 1;
	text-align: center;
	margin: 0 auto 60px;
}

.page_title_low{
	font-size: 24px;
	text-align: center;
	margin: 15px 0 30px;
}

.inline_wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.index{
	.index_logo{
		$width: 444px;
		$height: 398px;
		width: $width;
		height: $height;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -$height / 2;
		margin-left: -$width / 2;
	}
}

.canvas_wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;

	canvas{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.enter {
		opacity: 0;
		display: none;
	}
	&.enter-active {
		opacity: 1;
		transition: opacity 300ms;
		display: block;
	}
	&.enter-done {
		opacity: 1;
		display: block;
	}
	&.exit {
		opacity: 1;
		display: block;
	}
	&.exit-active {
		opacity: 0;
		transition: opacity 300ms;
		display: block;
	}	
	&.exit-done {
		opacity: 0;
		display: none;
	}
}

.company{
	.inline{
		width: 100%;
		max-width: 100%;
		.in{
			height: calc(100vh - 270px);
			overflow: auto;
		}
	}
	.fullimage{
		width: 100%;
		min-width: 640px;
		height: auto;
		min-height: 240px;
		position: relative;
		margin: 0 auto 60px;
		overflow: hidden;
		&::before{
			content: "";
			display: block;
			width: 100%;
			padding: 0 0 30%;
			position: relative;
		}
		img{
			width: 100%;
			height: auto;
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}

	.detail_wrap{
		display: flex;
		justify-content: space-between;
    width: 80vw;
		max-width: 1024px;
    height: 505px;
    position: relative;
		margin: 0 auto 60px;
		.detail{
			width: 505px;
			height: 100%;
			font-size: 13px;
			line-height: 22px;
			overflow: auto;
			padding-bottom: 60px;
			box-sizing: border-box;
			&>li{
				margin: 0 0 1em;
				.label{
					display: block;
					font-weight: 700;
				}
			}
		}
		.gmap{
			width: 49.5%;
			height: 100%;
			position: relative;
			&::before{
				content: "";
				display: block;
				width: 100%;
				height: 0;
				padding: 0 0 100%;
			}
			iframe{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

.gallery{
	.page_title{
		margin-bottom: 30px;
	}
	.inline{
		width: 65vw;
		.in{
			overflow: auto;
			height: calc(100vh - 270px);
			padding: 0 0 30px;
			box-sizing: border-box;
		}
	}
	.gal_wrapper{
		width: 100%;
		max-width: 1024px;
		height: auto;
		margin: 30px auto;
		position: relative;
		overflow: visible;
		display: flex;
		justify-content: space-between;
	}

	.slick-slide div{
		outline: none;
	}
	
	.slick-vertical .slick-slide{
		border: none;
	}

	.gal{
		width: 76.7%;
		max-width: 768px;
		position: relative;
		overflow: hidden;
		margin: 0 20px 0 0;
		.gal_main{
			width: 100%;
			max-width: 768px;
			padding: 10px 0;
		}
	}

	.gal_pagers{
		width: 23.3%;
		max-width: 233px;
		position: relative;
		overflow: visible;
		.gal_pager{
			width: 100%;
			max-width: 232.5px;
			padding: 4.3% 0;
		}
		.slick-next, .slick-prev{
			width: 32px;
			height: 15px;
			background: url(../assets/img/arrow.svg) no-repeat;
			left: 50%;
			margin: 0 0 0 -16px;
		}

		@keyframes prev{
			0%, 30%{
				transform: translateY(0);
			}
			45%, 55%{
				transform: translateY(-5px);
			}
			70%, 100%{
				transform: translateY(0);
			}
		}

		.slick-prev{
			top: -15px;
			animation: prev 2s ease-in-out 0s infinite;
		}

		@keyframes next{
			0%, 30%{
				transform: translateY(0) rotate(180deg);
			}
			45%, 55%{
				transform: translateY(5px) rotate(180deg);
			}
			70%, 100%{
				transform: translateY(0) rotate(180deg);
			}
		}

		.slick-next{
			top: auto;
			bottom: -15px;
			animation: next 2s ease-in-out 0s infinite;
			transform: rotate(180deg);
		}
	}
}

.topics{
	article{
		overflow: auto;
		height: calc(100vh - 270px);
		.list_tp{
			overflow: hidden;
			&>li{
				margin: 0 auto 60px;
				.date{
					font-size: 20px;
					display: block;
					margin: 0 0 10px;
				}
				.title{
					font-size: 24px;
					display: block;
					margin: 0 0 10px;
				}
				.sp_txtbtn{
					display: none;
				}
				.txt{
					font-size: 14px;
					line-height: 24px;
				}
			}
		}		
	}
}

.contact{
	color: #ffffff;
	.page_title{
		margin: 0 auto 30px;
	}
	.flex{
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		.fl, .fr{
			width: 49%;
			label{
				height: 60px;
				display: block;
				span{
					height: 20px;
					display: block;
				}
			}
			input[type=text], input[type=email], input[type=tel]{
				width: 100%;
				height: 40px;
				border-radius: 5px;
				border: solid 1px $black;
				padding: 0 0 0 10px;
				box-sizing: border-box;
				font-size: 16px;
				&.err{
					background: #ff8686;
				}
			}
			textarea{
				resize: none;
			}
			.errmsg{
				font-size: 12px;
			}
		}
		.fl{
			display: flex;
			flex-flow: column;
			justify-content: space-between;			
		}
		.fr{
			label{
				height: 100%;
			}
			textarea{
				width: 100%;
				height: calc(100% - 20px);
				border-radius: 5px;
				border: solid 1px $black;
				padding: 10px;
				box-sizing: border-box;
				font-size: 16px;
				&.err{
					background: #ff8686;
				}
			}
		}		
	}

	.form_wrapper{
		height: 250px;
		margin-bottom: 60px;
	}

	.btn_wrapper{
		justify-content: space-around;
		input{
			width: 200px;
			height: 40px;
			display: block;
			-webkit-appearance: none;
			border: solid 1px $black;
			font-size: 16px;
			font-weight: 500;
			background: none;
			border: 2px solid #fff;
			color: #fff;
			transition: all .3s ease 0s;
			cursor: pointer;
			&:hover{
			border: 2px solid #4DF0D7;
				background: #4DF0D7;
			}
			&:disabled{
				cursor: auto;
				border: 2px solid #fff !important;
				background: #888 !important;
			}
		}
	}

	#email{
		margin: auto;
		display: block;
	}
}

.thanks{
	color: #ffffff;
	.txt{
		text-align: center;
		font-size: 16px;
		line-height: 24px;
	}

	.txt_done{
    font-size: 28px;
    line-height: 36px;
		text-align: center;
    font-weight: 400;
    margin: 0 0 30px;
	}
}

.policy{
	.policy_inline{
		font-size: 14px;
		line-height: 22px;
		box-sizing: border-box;
		.in{
			height: calc(100vh - 270px);
			padding: 0 0 60px;
			overflow: auto;
			box-sizing: border-box;
		}
		p{
			margin: 0 0 1em;
			strong{
				font-size: 1.1em;
				font-weight: 500;
			}
		}
		ul{
			margin: 0 0 1em;
			&>li{
				margin: 0 0 1em;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.author{
			text-align: right;
		}
		table{
			margin: 30px auto 0;
			border: none;
			tr{
				td{
					padding: 5px 10px;
					border: solid 1px $black;
				}
			}
		}
		.isms_auth{
			width: 150px;
			margin: 30px auto 0;
			display: block;
		}
	}
}

$brand_color_r: #4DF0D7;
.wrapper.dark{
	.pager{
		ul{
			&>li{
				a{
					text-shadow: none;
					color: #fff;
					&::after{
						border: 1px solid #fff;
					}
					span{
						&::before{
							border-bottom: 1px solid #fff;
						}					
					}
				}
				&:hover{
					a{
						span{
							&::before{
								width: 100%;
							}
						}
					}
				}
				&.active{
					a{
						color: $brand_color_r;
						&::after{
							background: $brand_color_r;
							border-color: $brand_color_r;
						}
						span{
							&::before{
								border-color: $brand_color_r !important;
							}
						}					
					}
				}
			}
		}
	}


	footer{
		color: #ffffff;
	}
}

@media screen and (max-width: 1024px){
	.contents_wrapper{
		padding: 0 10px;
	}

	.contents{
		overflow: auto;
		.inline{
			width: calc(100% - 100px);
			max-width: 1024px;
			height: 100%;
			display: block;
			margin: 0;
			padding: 0 10px;
			box-sizing: border-box;
		}
	}

	.company{
		.inline{
			width: 100%;
			padding: 0;
			.in{
				height: auto;
			}
			.detail_wrap{
				width: calc(100% - 120px);
				height: auto;
				overflow: hidden;
				display: block;
				margin: 0;
				padding: 0 10px;
				.detail, .gmap{
					width: 100%;
					overflow: hidden;
				}
				.gmap{
					width: 100%;
					height: auto;
					position: relative;
				}				
			}
		}
	}

	.gallery{
		.inline{
			.in{
				height: auto;
				overflow: hidden;
			}
		}
		.gal_wrapper{
			height: auto;
			display: block;
		}

		.slick-slide{
		}
		
		.slick-vertical .slick-slide{
		}

		.gal{
			width: 100%;
			max-width: 100%;
			margin: 0 auto 5px;
			.gal_main{
				max-width: 100%;
				padding: 0 5px;
				box-sizing: border-box;
			}
		}

		.gal_pagers{
			width: 100%;
			max-width: 100%;
			margin: auto;
			.gal_pager{
				max-width: 100%;
				padding: 0 5px;
				box-sizing: border-box;
			}
			.slick-next, .slick-prev{
				display: none !important;
			}
		}
	}

	.topics{
		article{
			height: auto;
		}
	}

	.contact{
		.page_title{
			margin: 0 auto 30px;
		}
		.page_title_low{
			font-size: 14px;
		}
		&.contents .inline{
			padding-bottom: 60px;
		}
		.flex{
			width: 100%;
			.fl, .fr{
				width: 100%;
				.errmsg{
					font-size: 11px;
				}
			}
			.fl{
				label{
					height: 80px;
					margin: 0 0 10px;
				}
			}
			.fr{
				textarea{
					height: 120px;
				}
			}
		}
		.form_wrapper{
			height: auto;
			display: block;
			margin-bottom: 30px;
		}

		.btn_wrapper{
			justify-content: space-around;
			input{
				width: 40%;
				&:hover{
				}
			}
		}

		#email{
			margin: auto;
			display: block;
		}
	}

	.policy{
		.policy_inline{
			.in{
				height: auto;
				overflow: hidden;
			}
		}
	}

}

@media screen and (max-width: 768px){
	header{
		height: 50px;
		.logo{
			width: 56px;
			height: 50px;
			display: none;
		}
		.sp_bar{
			width: 100%;
			height: 50px;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
			.sp_bar_btn{
				position: absolute;
				top: 15px;
				right: 15px;
			}
			.sp_nav{
				width: 100%;
				height: 0;
				transition: all .3s ease 0s;
				margin: 0;
				background: rgba(112, 112, 112, 0.95);
				overflow: hidden;
				&>li{
					&:first-child{
						margin: 50px 0 0;
					}
					a{
						width: 100%;
						text-decoration: none;
						font-size: 16px;
						padding: 20px 0;
						color: #ffffff;
						text-align: center;
						display: block;
					}
					&.active{
						a{
							background: $brand_color;
						}
					}					
				}
			}
			&.active{
				.sp_nav{
					height: 100vh;
				}
				.sp_bar_btn{
					path{
						fill: #ffffff;
					}
				}
			}
		}
	}

	.contents_wrapper{
		padding: 0 30px;
		height: calc(100% - 50px - 25px);
	}

	.inline_wrapper{
		width: 100%;
	}

	.contents{
		.inline{
			width: 100%;
			height: 100%;
			display: block;
			padding: 0;
		}
	}

	.pager{
		right: 10px;
	}

	.pagetop{
		span{
			right: 5px;
			bottom: 15px;
		}
	}

	.page_title{
		font-size: 32px;
		text-align: center;
		margin: 0 auto 60px;
	}	

	.thanks{
		.txt{
			font-size: 14px;
			line-height: 22px;
			text-align: left;
		}

		.txt_done{
			font-size: 20px;
			line-height: 28px;
			margin: 0 0 30px;
		}
	}

	.pager{
		ul{
			right: 10px;
			&>li{
				a{
					span{
						display: none;
					}
				}
			}
		}
	}

	.wrapper.dark{
		.sp_bar{
			.sp_bar_btn{
				path{
					fill: #ffffff;
				}
			}
		}
	}

	footer{
		height: 25px;
		small{
			margin: 10px 0;
		}
	}

	.index{
		.index_logo{
			$width: 255px;
			$height: 229px;
			width: $width;
			height: $height;
			margin-top: -$height / 2;
			margin-left: -$width / 2;
		}
	}	

	.company{
		width: 100%;
		.inline{
			.detail_wrap{
				width: auto;
				padding: 0 30px;
			}
		}

		.inline{
			padding: 0;
			.in{
				height: auto;
			}
		}
		.fullimage{
			width: 100%;
			min-width: 100%;
			min-height: 120px;
			margin: 0 auto 30px;
		}		
	}

	.gallery{
		.in{
			height: auto;
		}
		.gal_wrapper{
			width: auto;
			height: auto;
			display: block;
			margin: 0 30px;
		}

		.slick-slide{
		}
		
		.slick-vertical .slick-slide{
		}

		.gal{
			width: 100%;
			max-width: 100%;
			.gal_main{
			}
		}

		.gal_pagers{
			width: 100%;
			max-width: 100%;
			margin: auto;
			.gal_pager{
			}
		}
	}

	.topics{
		article{
			height: auto;
			overflow: hidden;
			padding: 0 30px;
			box-sizing: border-box;
			.list_tp{
				&>li{
					margin: 0 auto 60px;
					.date{
						font-size: 14px;
						margin: 0 0 10px;
					}
					.title{
						font-size: 20px;
						font-weight: 500;
						margin: 0 0 10px;
					}
					.sp_txtbtn{
						width: 130px;
						font-size: 12px;
						display: block;
						text-align: center;
						border: 1px solid $black;
						margin: 10px 0 0;
						padding: 8px 0;
						color: $black;
						text-decoration: none;
					}
					.txt{
						font-size: 12px;
						line-height: 20px;
						overflow: hidden;
						transition: all .3s ease 0s;
						line-height: 0px;
						opacity: 0;
						&.active{
							line-height: 24px;
							opacity: 1;
						}
					}
				}
			}		
		}
	}	

	.policy{
		.policy_inline{
			font-size: 12px;
			line-height: 20px;
			padding: 0 30px 30px;
			box-sizing: border-box;
			.in{
				height: auto;
				overflow: hidden;
				padding-bottom: 30px;
			}
			p{
				margin: 0 0 1em;
			}
			ul{
				margin: 0 0 1em;
				&>li{
					margin: 0 0 1em;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			.author{
				text-align: right;
			}
			table{
				width: 100%;
				margin: 30px auto 0;
				border: none;
				tr{
					td{
						padding: 5px 10px;
						border: solid 1px $black;
					}
				}
			}
		}
	}	

	.contact{
		.form_wrapper{
			padding: 0 30px;
			box-sizing: border-box;			
		}
	}
}